body {
    font-family: sans-serif;
    background-color: #0fffff;
    margin-top: 75px;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
   
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 75px;
    width : 75px;
    padding-left: 20px;
   
}

.container {
    padding:20px;
    
}